# Documentation: http://docs.travis-ci.com/user/languages/julia/
language: julia
os:
  - linux
  - osx
julia:
  - 1.6
  - 1.0
  - nightly

jobs:
  allow_failures:
    - julia: nightly
  include:
    - stage: "Documentation"
      os: linux
      addons:
        apt:
          packages:
            - libqt5widgets5
            - texlive
            - dvipng
      julia: 1.5
      script:
        - julia --project=docs/ -e 'using Pkg;
                                    Pkg.develop(PackageSpec(path=pwd()));
                                    Pkg.instantiate();
                                    Pkg.build("ARCHModels")' #https://github.com/JuliaLang/Pkg.jl/issues/862
        - julia --depwarn=no --project=docs/ docs/make.jl
      after_success: skip

notifications:
  email: false

after_success:
  # push coverage results to Coveralls
  - julia -e 'using Pkg; Pkg.add("Coverage"); using Coverage; Coveralls.submit(Coveralls.process_folder())'
  # push coverage results to Codecov
  - julia -e 'using Pkg; Pkg.add("Coverage"); using Coverage; Codecov.submit(Codecov.process_folder())'
